<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<target name="audit_file"
		        xsi:type="File"
		        fileName="${basedir}/logs/audit.log"
		        archiveFileName="${basedir}/logs/archives/audit_{#}.zip"
		        archiveNumbering="DateAndSequence"
		        archiveEvery="Day"
		        archiveDateFormat="yyyy_MM_dd"
		        archiveAboveSize="500000000"
		        enableArchiveFileCompression="true"
		        maxArchiveFiles="1440"
		        concurrentWrites="true"
		        keepFileOpen="false"
		        encoding="utf-8"
		        layout="${longdate}|${level:uppercase=true}|${logger}|${message:withexception=true}">
		</target>
		<target name="issues_file"
		        xsi:type="File"
		        fileName="${basedir}/logs/issues.log"
		        archiveFileName="${basedir}/logs/archives/issues_{#}.zip"
		        archiveNumbering="DateAndSequence"
		        archiveEvery="Day"
		        archiveDateFormat="yyyy_MM_dd"
		        archiveAboveSize="500000000"
		        enableArchiveFileCompression="true"
		        maxArchiveFiles="1440"
		        concurrentWrites="true"
		        keepFileOpen="false"
		        encoding="utf-8"
		        layout="${longdate}|${level:uppercase=true}|${logger}|${message:withexception=true}">
		</target>
	</targets>
	<rules>
		<logger name="*LogInterceptor*" levels="Info" writeTo="audit_file" />
		<logger name="*LogInterceptor*" levels="Error,Warn" writeTo="issues_file" />
	</rules>
</nlog>